<p>Competência: @ViewData["titulo"]</p> 
@{
  var competencia = ViewData["tablebloom"] as Competencia;
}
<div class="text-center">
    <div class="container">
  <div class="row">
    <div class="col">
     <h3>@competencia?.ColunaBloom</h1>
    </div>
    <div class="col">
     <h3>Compreender</h3>
    </div>
    <div class="col">
     <h3> Aplicar</h3>
    </div>
     <div class="col">
     <h3>Analizar</h3>
    </div>
    <div class="col">
     <h3>Avaliar</h3>
    </div>
    <div class="col">
      <h3>Criar</h3>
    </div>
  </div>
  <!-- Linha 2 -->
  
  <div class="container">
  <div class="row">
    <div class="col">
      @competencia?.LinhaBloom
    </div>
    <div class="col">
    Linha 2 - Coluna 2
    </div>
    <div class="col">
    Linha 2 - Coluna 3
    </div>
    <div class="col">
    Linha 2 - Coluna 4
    </div>
    <div class="col">
    Linha 2 - Coluna 5
    </div>
    <div class="col">
    Linha 2 - Coluna 6
</div>

 <!-- Linha 3 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 3 - Coluna 1
    </div>
    <div class="col">
    Linha 3 - Coluna 2
    </div>
    <div class="col">
    Linha 3 - Coluna 3
    </div>
    <div class="col">
    Linha 3 - Coluna 4
    </div>
    <div class="col">
    Linha 3 - Coluna 5
    </div>
    <div class="col">
    Linha 3 - Coluna 6
</div>

<!-- Linha 4 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 4 - Coluna 1
    </div>
    <div class="col">
    Linha 4 - Coluna 2
    </div>
    <div class="col">
    Linha 4 - Coluna 3
    </div>
    <div class="col">
    Linha 4 - Coluna 4
    </div>
    <div class="col">
    Linha 4 - Coluna 5
    </div>
    <div class="col">
    Linha 4 - Coluna 6
</div>
<!-- Linha 5 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 5 - Coluna 1
    </div>
    <div class="col">
    Linha 5 - Coluna 2
    </div>
    <div class="col">
    Linha 5 - Coluna 3
    </div>
    <div class="col">
    Linha 5 - Coluna 4
    </div>
    <div class="col">
    Linha 5 - Coluna 5
    </div>
    <div class="col">
    Linha 5 - Coluna 6
</div>

<!-- Linha 6 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 6 - Coluna 1
    </div>
    <div class="col">
    Linha 6 - Coluna 2
    </div>
    <div class="col">
    Linha 6 - Coluna 3
    </div>
    <div class="col">
    Linha 6 - Coluna 4
    </div>
    <div class="col">
    Linha 6 - Coluna 5
    </div>
    <div class="col">
    Linha 6 - Coluna 6
</div>

<!-- Linha 7-->
  <div class="container">

  <div class="row">
    <div class="col">
    Linha 7 - Coluna 1
    </div>
    <div class="col">
    Linha 7 - Coluna 2
    </div>
    <div class="col">
    Linha 7 - Coluna 3
    </div>
    <div class="col">
    Linha 7 - Coluna 4
    </div>
    <div class="col">
    Linha 7 - Coluna 5
    </div>
    <div class="col">
    Linha 7 - Coluna 6
</div>
</div>
